<div class='header'>
	
	<button id="myBtn">Configure News Channels</button>
	<p id="header-heading-text">Spontia</p>
	

	<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <!-- Form to Select the prefered news Channels -->
  <div class="modal-content">
    <span class="close">&times;</span>
	<form action="/action_page.php" class="form-content">
		<input type="checkbox" name="news" value="abc-news-au"> ABC News(AU)<br>
		<input type="checkbox" name="news" value="al-jazeera-english"> Al Jazeera English<br>

		<input type="checkbox" name="news" value="ars-technica"> Ars Technica<br>
		<input type="checkbox" name="news" value="associated-press"> Associated Press<br>

		<input type="checkbox" name="news" value="bild"> Bild<br>
		<input type="checkbox" name="news" value="bloomberg"> Bloomberg<br>

		<input type="checkbox" name="news" value="BBC News"> BBC News<br>
		<input type="checkbox" name="news" value="bbc-sports"> BBC Sports<br>



	 <br>
	  <input type="submit" value="Submit">
	</form> 
  </div>

</div>


</div>


<style type="text/css">
	.header
	{
		width: 100%;
		height: 60px;

		top: 0px;
/*		position: relative;
*/
		position: absolute;
		bottom: 0;

		background-color: #1A4C99;


 		text-align: center;
 		padding: 9px;
	}

	#header-heading-text
	{
		color: white;

		font-size: 25px;
		margin-left: 25%;
		margin-right: 25%;

	}

	#myBtn
	{
		float: left;
		margin: 6px;

		height: 35px;
		border-radius: 4px;

		background-color: #ff6600; /* Green */
	    border: none;
	    color: white;

	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 4px 2px;
	    cursor: pointer;

	}


		/* The Modal (background) */
	.modal {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    padding-top: 100px; /* Location of the box */
	    left: 0;
	    top: 0;
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
	    background-color: #fefefe;
	    margin: auto;
	    padding: 20px;
	    border: 1px solid #888;
	    width: 80%;

	    text-align: left;
	    font-size: 15px;
	}

	/* The Close Button */
	.close {
	    color: #aaaaaa;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	}

	.close:hover,
	.close:focus {
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
	}

	.form-content
	{
		font-size: 18px;

	}

</style>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>