<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include partials/head.ejs %>
  </head>
  <body>
    


    <!-- MAIN CONTENT STARTS -->

    <div class="main-div">

      <!-- Including Partial Script Tags -->
      <% include partials/header.ejs %>


      <div class="main-content-div">
        
        <div class="news-box"></div>
        <div class="news-box"></div>
        <div class="news-box"></div>
        <div class="news-box"></div>

      </div>
      


    </div>



    <!-- MAIN CONTENT ENDS -->

    <!-- Including Partial Script Tags -->
    <% include partials/footer.ejs %>

    <!-- Including Partial Script Tags -->
    <% include partials/jsdefault.ejs %>

  </body>
</html>
