body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.main-div
{
	height: 1500px;
	width: 100%;

	margin-top: 0px;


	position:absolute;
 	top:0px;
 	left: 0px;

 	float: left;

	text-align: center;

	background-color: #E8ECF0;

 }


.main-content-div
{
	position: relative;
	top: 70px;
	left: 5%;
	right: 5%;

	height: 1300px;
	width: 90%;

	margin-top: 20px;

}


/*News Display Boxes*/
.news-box 
{	
	position: relative;
	float: left;

	margin-right: 14px;
	margin-bottom: 25px;

    width: 32%;
    padding-bottom: 30%; /* = width for a square aspect ratio */
    height: 100px;

    background-color: white;

    box-shadow: 1px 1px 1px #888888;

}



.news-box .text
{
	height: 130px;
	width: 100%;

	position: absolute;
	bottom: 0px;

	padding-left: 10px;
	text-align: left;

}

.news-box #author
{
	color: grey;
}

.news-box #date
{
	color: grey;
}

.image
{

	height: 218px;
	width: 100%;

	top: 0px;

}












